<mat-grid-list cols="1" rowHeight="100px">

  <mat-grid-tile>
    <div class="example-button-container" >
      <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>

    <div class="example-button-container">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon">
        <mat-icon>person</mat-icon>
      </button>
    </div>

    <div class="example-button-container">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon">
        <mat-icon (click)="irParaColecao()" >local_library</mat-icon>
      </button>
    </div>
  </mat-grid-tile>

</mat-grid-list>
<mat-grid-list cols="2" rowHeight="100px">

  <mat-grid-tile> Aqui vai ficar resultados de busca de coleções </mat-grid-tile>
  <mat-grid-tile> Aqui vai ficar resultado de buscas de cartas especificas</mat-grid-tile>

</mat-grid-list>
