<mat-grid-list cols="2" rowHeight="100px">

  <mat-grid-tile rowspan="4">
    <mat-card class="full-width">

      <mat-toolbar color="primary">
          <span>Minhas coleções</span>
      </mat-toolbar>

      <mat-card-content>
        <p > Ola</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile> Aqui vai ficar resultado de buscas de cartas especificas</mat-grid-tile>

</mat-grid-list>
