mat-card{
  max-width: 60%;
  margin: 2em auto;
  text-align: center;

}

.full-width{
  width: 100%;
}

.min-width{
  width: 100%;
  min-width: 150px;
}

.arredondar{
  border-radius: 50%;
  border: 3px solid #673AB7;
}

.achatar{
  width: 80%;
  height: 80%;
  border: 3px solid ;
}
